[Desktop Entry]
Encoding=UTF-8
Name=Link to GLUT tutorial online
Type=Link
URL=http://www.lighthouse3d.com/opengl/glut/index.php?gameglut
Icon=text-html
