[Desktop Entry]
Encoding=UTF-8
Name=Link to GLUT API description (includes a list of all functions)
Type=Link
URL=http://www.opengl.org/documentation/specs/glut/spec3/spec3.html
Icon=text-html
