[Desktop Entry]
Encoding=UTF-8
Name=Link to Lighthouse3d GLSL tutorial
Type=Link
URL=http://www.lighthouse3d.com/tutorials/glsl-core-tutorial/pipeline33/
Icon=text-html
